.absolute {
  position: absolute
}

.flex {
  display: flex
}

.h-full {
  height: 100%
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.justify-between {
  justify-content: space-between
}

.rounded-full {
  border-radius: 9999px
}

.bg-blue-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(191 219 254 / var(--tw-bg-opacity))
}

.bg-slate-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity))
}

.p-5 {
  padding: 1.25rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem
}

.pt-12 {
  padding-top: 3rem
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.font-semibold {
  font-weight: 600
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-blue-800 {
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity))
}
